<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact_message.name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact_message.email %>
</p>

<p>
  <b>Message:</b>
  <%= @contact_message.message %>
</p>


<%= link_to 'Edit', edit_contact_message_path(@contact_message) %> |
<%= link_to 'Back', contact_messages_path %>
