<h2><%= t("text.detail_bookmark") %></h2>

<p>
  <b><%= t("activerecord.attributes.bookmark.title") %>:</b>
  <%= @bookmark.title %>
</p>

<p>
  <b><%= t("activerecord.attributes.bookmark.url") %>:</b>
  <%= @bookmark.url %>
</p>

<p>
  <b><%= t("activerecord.attributes.bookmark.comment") %>:</b>
  <%= @bookmark.comment %>
</p>

<p>
  <b><%= t("activerecord.attributes.bookmark.created_at") %>:</b>
  <%= l @bookmark.created_at, format: :short %>
</p>

<p>
  <b><%= t("activerecord.attributes.bookmark.updated_at") %>:</b>
  <%= l @bookmark.updated_at, format: :short %>
</p>

<%= back_to_list %>
