<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @airport.name %>
</p>

<p>
  <b>Code:</b>
  <%= @airport.code %>
</p>


<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
